@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
    color: #191815;
}
body{
    background-color: #f1faff;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
li{
    list-style: none;
}
header,
.linkList{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    width: 375px;
    background-color: transparent;
    border-bottom: 4px solid #feeceb;
    border-top: 4px solid #feeceb;
    padding: 4px 12px;
}
header p{
    font-size: 40px;
}
.linkList{
    gap: 12px;
    font-size: 20px;
}
.link{
    position: relative;
}
.link::before{
    content: "";
    background-color: #191815;
    position: absolute;
    right: 0;
    height: 3px;
    width: 0%;
    bottom: -4px;
    transition: 400ms;
}
.link:hover.link::before{
    left: 0;
    width: 100%;
}
.blog{
    padding: 12px 20px;
    border: 1px solid #feeceb;
}
.title{
    font-size: 20px;
}
.author{
    font-size: 12px;
}
a{
    text-decoration: none;
}
.link{
    cursor: pointer;
}
.createForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
input{
    outline: none;
    border: none;
    padding: 8px 12px;
    border-radius: 12px;
}

.delete{
    background-color: red;
    border: none;
    color: #f1faff;
    font-size: 16px;
    display: block;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 8px;
}
.post{
    border: none;
    margin-top: 12px;
    padding: 4px 0;
    font-size: 20px;
    border-radius: 12px;
    cursor: pointer;
}

